body{
    margin: 0; /*Gjør slik at det ikke blir noen kanter på nettsiden*/
    font-family: Arial, Helvetica, sans-serif; /*Skrift funnet https://www.w3schools.com/cssref/css_websafe_fonts.asp*/
    font-size: 23px;
    line-height: 28px;
}
#ourwork-gruppebilde {
    width: 50%;
    margin: 5% 25% 0% 25%;
    height: 600px;
    object-fit: cover;
}

.ourworkparagraph {
    margin: 3% 25% 8% 25%;
}

.ourworkparagraph p {
    line-height: 180%;
}

#title-ouremployers {
    margin-top: 10%;
    width: 100%;
    text-align: center;
}

.employer-top-1 {
    width: 20%;
    float: left;
    margin: 1% 1% 1% 29%;
}

.employer-top-2 {
    width: 20%;
    float: left;
    margin: 1% 29% 1% 1%;
}

.employer-image-top {
    width: 90%;
    height: 500px;
    object-fit: cover;
}

.employer-down-1 {
    width: 20%;
    float: left;
    margin: 1% 1% 1% 18%;
}

.employer-down-2 {
    width: 20%;
    float: left;
    margin: 1% 1% 1% 1%;
}
.employer-down-3 {
    width: 20%;
    float: left;
    margin: 1% 18% 1% 1%;
}

.employer-image-down {
    width: 90%;
    height: 500px;
    object-fit: cover;
}
@media screen and (max-width: 880px){

}
@media screen and (max-width: 420px){
    
}